<header>
  <div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            This is an example on how to centralize actions from different micro
            frontends into one shell.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/jsaldanaperez" target="_blank" class="text-white">Follow on GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Angular search</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<app-search-modal>
  <app-search domain="">
    <app-search-item name="Dashboard" description="Key combinations" path=""></app-search-item>
  </app-search>
  <router-outlet name="articles"></router-outlet>
  <router-outlet name="customers"></router-outlet>
  <router-outlet name="invoices"></router-outlet>
</app-search-modal>
<div class="p-2">
  <router-outlet></router-outlet>
</div>