<header>
  <div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            This is an example on how to cetralize actions from different micro
            frontends into one shell.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a
                href="https://github.com/jsaldanaperez"
                target="_blank"
                class="text-white"
                >Follow on GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Angular search</strong>
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div
  #modal
  class="fade modal"
  [class.show]="showSearch"
  id="exampleModalLive"
  tabindex="-1"
  aria-labelledby="exampleModalLiveLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <div class="modal-header">
        <strong class="modal-title" id="exampleModalLiveLabel">Search</strong>
        <button
          #closeButton
          type="button"
          class="btn-close"
          (click)="showSearch = false; closeButton.blur()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-0">
        <div class="p-3">
          <input class="form-control" placeholder="Search actions" />
        </div>
        <hr class="mb-0" />
        <div class="results p-1 pt-0" *ngIf="showSearch">
          <router-outlet name="articles"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSearch" class="modal-backdrop fade show"></div>
