<angular-search-search domain="articles" [configs]="[editArticleSearchConfig]">
  <angular-search-search-item
    name="Article list"
    description="Some description"
    path=""
  ></angular-search-search-item>
  <angular-search-search-item
    name="Create article"
    description="Some description"
    path="create"
  ></angular-search-search-item>
  <angular-search-search-item
    *ngIf="editArticle"
    [name]="editArticle.name"
    [description]="editArticle.description"
    [path]="editArticle.path"
  >
  </angular-search-search-item>
</angular-search-search>
