<app-search domain="invoices" [configs]="[createInvoiceForCustomerConfig, editInvoiceConfig]">
  <app-search-item name="Invoice list" path=""></app-search-item>
  <app-search-item name="Create invoice" path="create"></app-search-item>

  <app-search-item *ngIf="createInvoiceForCustomer" [name]="createInvoiceForCustomer.name"
    [description]="createInvoiceForCustomer.description" [path]="createInvoiceForCustomer.path"
    [params]="createInvoiceForCustomer.params"></app-search-item>

  <app-search-item *ngIf="editInvoice" [name]="editInvoice.name" [description]="editInvoice.description"
    [path]="editInvoice.path"></app-search-item>
</app-search>