<angular-search-search
  domain="invoices"
  [configs]="[createInvoiceForCustomerConfig, editInvoiceConfig]"
>
  <angular-search-search-item
    name="Invoice list"
    path=""
  ></angular-search-search-item>
  <angular-search-search-item
    name="Create invoice"
    path="create"
  ></angular-search-search-item>

  <angular-search-search-item
    *ngIf="createInvoiceForCustomer"
    [name]="createInvoiceForCustomer.name"
    [description]="createInvoiceForCustomer.description"
    [path]="createInvoiceForCustomer.path"
    [params]="createInvoiceForCustomer.params"
  ></angular-search-search-item>

  <angular-search-search-item
    *ngIf="editInvoice"
    [name]="editInvoice.name"
    [description]="editInvoice.description"
    [path]="editInvoice.path"
  ></angular-search-search-item>
</angular-search-search>
