<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Dashboard</h1>
        <p class="lead text-muted">How it works</p>
      </div>
    </div>
  </section>
  <section class="container text-center">
    <h3>Press key combination Control + Space</h3>

    <h4 class="mt-4">Press Control + [number] to go to result</h4>
    <h5 class="mt-4">Use keyboard arrows and or tab to go through results</h5>
    <h6 class="mt-4">Type name of record to get quick edit option</h6>
  </section>
</main>
