<angular-search-search domain="customers">
  <angular-search-search-item
    name="Customer list"
    description="Some description"
    path=""
  >
    <ul>
      <li>Random list</li>
    </ul>
  </angular-search-search-item>
  <angular-search-search-item
    name="Create customer"
    description="Some description"
    path="create"
  ></angular-search-search-item>
  <angular-search-search-item
    name="Edit customer"
    description="Some description"
    path="1"
  ></angular-search-search-item>
</angular-search-search>
