<angular-search-search
  domain="customers"
  [configs]="[editCustomerSearchConfig]"
>
  <angular-search-search-item name="Customer list" path="">
  </angular-search-search-item>
  <angular-search-search-item
    name="Create customer"
    path="create"
  ></angular-search-search-item>
  <angular-search-search-item
    *ngIf="editCustomer"
    [name]="editCustomer.name"
    [description]="editCustomer.description"
    [path]="editCustomer.path"
  ></angular-search-search-item>
</angular-search-search>
