<angular-search-search
  domain="customers"
  [configs]="[editCustomerSearchConfig]"
>
  <angular-search-search-item
    name="Customer list"
    description="Some description"
    path=""
  >
    <ul>
      <li>Random list</li>
    </ul>
  </angular-search-search-item>
  <angular-search-search-item
    name="Create customer"
    description="Some description"
    path="create"
  ></angular-search-search-item>
  <angular-search-search-item
    *ngIf="editCustomer"
    [name]="editCustomer.name"
    [description]="editCustomer.description"
    [path]="editCustomer.path"
  ></angular-search-search-item>
</angular-search-search>
